@import "../variables.scss";


/*
* pagina solo debe contener
borders temp
referencias a secciones  
margines  
y padding
todo respecto al layout
y cada componente ya tiene caracteristicas de vsuales
 excepto de ubicacion expecifica
*/

#sectionhours {
  width: 100%;
  grid-area: hours;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

#sectioncities {
  width: 100%;
  height: 1500px;
  grid-area: cities;
  margin-top: 2rem;
}

.slider {
  padding: 1rem;
  grid-area: slider;

}

.temp-widget {
  grid-area: temp-widget;
  //padding-top: 2rem;
  //border: 1px solid green;
  
}


.filter--city {
  grid-area: filter--city;
  //border: 2px solid salmon;
  margin: 1rem;
}

.filter--date {
  grid-area: filter--date;
  //border: 2px solid blue;
  margin: 0 1rem;
}

/////////////////////////////////////////////@at-root

.day-shift-widget {
  grid-area: day-shift-widget;
  //padding-top:  1rem;
  //margin-top: 1rem;
  margin-bottom: 2rem;
  gap: 1rem;
}

.ratio-widget1 {
  grid-area: ratio-widget1;
}

.ratio-widget2 {
  grid-area: ratio-widget2;
}


@media (min-width: 640px) {
  //tablet 
}

@media (min-width: 1060px) {

  //desktop
  .slider {
    //padding-top:1rem ;
    //margin-bottom:2rem ;
    //border: 2px solid white;
    grid-area: slider;
  }
}