@import "../variables.scss";


/*
* pagina solo debe contener 
referencias a secciones  
margines  
y padding
todo respecto al layout
y cada componente ya tiene caracteristicas de vsuales
 excepto de ubicacion expecifica
*/  


#sectionhours {
  width: 100%;
  height: 1500px;
  grid-area: hours; 
}
#sectioncities {
  width: 100%;
  height: 1500px;
  grid-area: cities;
}

.home-page {
  border: 1px dashed white;
  width: 100%; //!
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "weather-slider  weather-slider"
    "temp-widget      temp-widget"
    "city-filter      date-filter"
    "day-shift-widget day-shift-widget"
    "ratio-widget1    ratio-widget1"
    "ratio-widget2    ratio-widget2"
    "hours            hours"
    "cities           cities";
}

.weather-slider {
  grid-area: weather-slider;
}
.temp-widget {
  padding: 2rem;
}
.day-shift-widget {
  padding: 2rem;
}
.ratio-widget1 {
  padding: 0;
}
.ratio-widget2 {
  padding-bottom: 2rem;
}


@media (min-width: 640px) {
}

@media (min-width: 1060px) {
}
