@import "../variables";
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
}
.card img{
    position: absolute;
    top: 0;
    margin: auto;
}
.card .canvas-card {
  background-color: rgba( #ffffff, .40);
  border-radius: 25px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 77%;
  
}

.canvas-card .temp {
  display: flex;
  justify-content: center;
  align-items: center;
  .number {
    font-size: 4.97rem;
    color: $color1;
    font-weight: bold;
    letter-spacing: -6px;
    font-family: $label_card;
  }
  .grade {
    font-size: 3.87rem;
    color: $color2;
    font-weight: bold;
    font-family: $label_card;
    margin-bottom: 20px;
  }
  .separator{
    font-size: 3.87rem;
    color: $color2;
    font-weight: bold;
    font-family: $label_card;
    margin-left: -15px;
  }
  .decimal {
    font-size: 3.87rem;
    color: $color2;
    font-weight: bold;
    font-family: $label_card;
    letter-spacing: -5px;
    margin-left: -5px;
  }
}

.canvas-card .label-card {
  font-size: 1.87rem;
  color: $color2;
  margin-top: 15px;
  font-family: $label_card;
}
