@import "../variables";

.day-shift-widget {
  grid-area: day-shift-widget;
  width: 100%;
  //border: 1px solid red;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.day-shift-widget .weather-card-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.weather-card-container .background-widget {
  position: absolute;
  background-color: blue;
  width: 100%;
  z-index: -1;
  border: 2px solid rgba(white, 0.6);
  background-color: rgba(white, 0.3);
  border-radius: 15px;
  top: 60px;
  bottom: 0px;
}
.weather-card-container svg{
  width: 80px;
  height: auto;
}

.weather-card-container p {
  
  font-family: $label_card;
  font-weight: bold;
  font-size: 15px;
  color: $color2;
}
.weather-card-container span {
  font-family: $label_card;
  font-weight: bold;
  font-size: 50px;
  color: $color1;
}

.weather-card-container span span {
  color: $color2;
}
