@import "../variables.scss";

.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
  .filter--container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    //border: 2px solid red;
  }
  .filter--icon{
    width: 20px;
    margin:  10px;
    border: 1px dashed red;
  }
  .filter--text{
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: calc(1rem + .8vw);
    width: calc(180px + 2.5vw);
    white-space: nowrap;
    font-family: $label_card;
    font-weight: bold;
    color: $color1;
    margin:  .5rem 0 ;
    
}
.filter--arrow{
  width: calc(15px + 1vw);
  height: auto;
  margin: 0 10px;
}
}