@import "../variables";

//! dont use height prop, only in svg image
#menu-bar {
  width: 100%;
  position: fixed;
  z-index: 2;
  top: calc(100% - 63px);
  border-top: 1px solid white;
  box-shadow: rgba($color1, $alpha: 0.63) 1px -1px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba($color-bg, $alpha: 1);
  padding: 10px;

  .menu-item {
    cursor: pointer;

    a {
      font-size: 0;
      display: flex;
      justify-content: center; //!
      transition: all 1s;
      /*&:hover{
        background-color:#000000;
        transition: all 1s;
      }*/
      img.menu-icon {
        width: 40px;
        height: 40px;
      }
      .menu-icon:hover {
        fill:green;
        color: greenyellow;
        background-color: red;
      }
    }
  }
  .menu-item .current {
    color: red;
  }
}

@media (min-width: 640px) {
  // tablet
  body {
    background-color: salmon;
  }
}

@media (min-width: 1060px) {
  //desktop
  body {
    background-color: lightgreen;
    font-size: 18px;
  }
  #menu-bar {
    width: $menu-bar-width;
    height: 100%;
    top: 0;
    border-right: 1px solid white;
    flex-direction: column;
    justify-content: center;
    background: rgba($color-bg, $alpha: 1);
    //padding: 10px;

    .menu-item {
      //border:1px solid  red;
      padding: 10px 0;
      a {
        font-size: 12px;
        font-weight: bold;
        font-family: $label_menu_icon;
        color: $color2;
        flex-direction: column;
        white-space: nowrap;
        align-items: center;
        text-decoration: none;

        img.menu-icon {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

/*#menu-bar {
  
  position: fixed;
  z-index: 2; //! ?
  border-right: 1px solid white;
  box-shadow:  rgba($color1, $alpha: .63) 1px -1px 0px;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 1rem;
  background: rgba($color-bg, $alpha: 1);

  .menu-item {
    text-align: center;
    .menu-icon {
      width: 50px;
      height: 50px;
      border: 1px solid $color2;
    }
    a {
      text-decoration: none;
    }
  }
}
*/
