@import "../variables";

//! dont use height prop, only in svg image
#menu-bar {
  position: fixed;
  width: 100%;
  z-index: 3;
  top: calc(100% - 63px);
  border-top: 1px solid white;
  box-shadow: rgba($color1, 0.6) 1px -1px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgba($color-bg, 0.8);
  padding: 10px;

  a {
    cursor: pointer;
    font-size: 0;
    display: flex;
    justify-content: center; //!
    transition: color 1s;

    &:nth-child(2) {
      display: none;
    }

    &:hover .menu-icon {
      //transition: stroke 1s;
      & #stroke {
        stroke: $color1;
        transition: stroke 1s;
      }
      & #fill {
        fill: $color1;
        transition: fill 1s;
      }
    }
    .menu-icon {
      width: 39px;
      height: 39px;

      #stroke {
        stroke: $color2;
        transition: stroke 1s;
      }
      #fill {
        fill: $color2;
        transition: fill 1s;
      }
    }
  }

  .current {
    color: $color1;
    transition: color 1s;
    .menu-icon #stroke {
      stroke: $color1;
    }
    .menu-icon #fill {
      fill: $color1;
    }
  }
}


@media (min-width: 1060px) {
  //desktop
  body {
    background-color: lightgreen;
    font-size: 18px;
  }
  #menu-bar {
    width: $menu-bar-width;
    height: 100%;
    border-top: 0;
    top: 0;
    border-right: 1px solid white;
    flex-direction: column;
    justify-content: center;
    background: rgba($color-bg, $alpha: 1);

    a {
      padding: 1rem 0;
      font-size: 12px;
      font-weight: bold;
      font-family: $label_menu_icon;
      color: $color2;
      flex-direction: column;
      white-space: nowrap;
      align-items: center;
      text-decoration: none;
      &:nth-child(1) {
        padding: 10px;
        position: absolute;
        top: 0px;
      }
      &:nth-child(2) {
        display: flex;
      }
    }
  }
}
