@import "../variables";

.ratio-widget {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: calc(4px + 2vw);
  align-items: center;
  //flex-wrap: wrap;
}
.ratio-widget1{
  
  //justify-content: flex-end;
}
.ratio-widget2{
  //grid-area:ratio-widget2;
  //justify-content: flex-start;
}



.small-card-wrapper {
  position: relative;
  width: 96px;
  text-align: center;
  background-color: rgba(white, 0.2);
  border: 2px solid rgba(white, 0.6);
  border-radius: 10px;
  transition: all .5s;
  overflow: hidden;
  &:hover{
    background-color: rgba(white, 0.6);
  }
  img {
    width: calc(20px + 1vw);
    height: calc(20px + 1vw);
    margin: 0.3rem;
    transition: all 1s;
  }
}

.small-card-wrapper > .wrapper-arrow {
  position: absolute;
  margin-top: 10px;
  margin-left: calc(100% - 20px);
}
.small-card-wrapper > .ratio {
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.small-card-wrapper > .ratio > .number {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: $label_card;
  color: $color1;
}
.small-card-wrapper > .ratio > .unit {
  font-size: 0.8rem;
  font-weight: bold;
  font-family: $label_card;
  color: $color1;
}
