@import "../variables.scss";

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100px + 5vw); //cambiar esto en IPAD y DESKTOP
  //height: 100%;
  svg {
    width: calc(30px + 1.5vw);
    cursor: pointer;
    z-index: 2;
    margin: 10px;

    &.left {
      //background-color: orange;
    }
    &.right {
      //background-color: orange;
    }
  }
  .container-spring {
    position: relative;
    //width: calc(200px + 5.5vw);
    //height: calc(200px + 5.5vw);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    

    .spring--left {
      position: absolute;
      //width: calc(50px + 2.5vw);
      //height: calc(50px + 2.5vw);
      width: 70%;
      height: 70%;
      opacity: 0.9;
    }
    .spring--middle {
      position: absolute;
      width: 100%;
      //width: calc(150px + 5.5vw);
      height: 100%;
      //border: 1px solid blue;
    }
    .spring--right {
      position: absolute;
      //width: calc(50px + 2.5vw);
      //height: calc(50px + 2.5vh);
      width: 70%;
      height: 70%;
      opacity: 0.9;
    }
  }
}

.container-left{
  //width: calc(100px + 5.5vw);
  //height: calc(100px + 5.5vw); 
  width: 20%;
  height: 60%;
}
.container-middle{
  //width: calc(300px + 5.5vw);
  height: 100%;
  width: 50%;
}
.container-right{
  //width: calc(100px + 5.5vw);
  //height: calc(100px + 5.5vw); 
  height: 60%;
  width: 20%;
}