@import "../variables";

.temp-widget {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  grid-area: temp-widget;
  .number {
    font-size: 9.51rem;
    color: $color1;
    font-weight: bold;
    letter-spacing: -10px;
    font-family: $label_card;
  }
  .grade {
    font-size: 9.51rem;
    color: $color2;
    font-weight: bold;
    font-family: $label_card;
    letter-spacing: -6px;
  }
}
