@import "variables";

.grid-container {
  display: grid;
  min-height: 100%;
  grid-template-areas:
    " sidebar header header header"
    " sidebar filter-bar filter-bar filter-bar"
    " sidebar navbar navbar navbar"
    " sidebar main main main"
    " sidebar footer footer footer";
  grid-template-columns: 50px 1fr 1fr 1fr;
  //grid-template-rows: 50px 50px 50px 10fr 1fr;
  position: relative;
}
.grid-container > * {
  border: 1px dashed $color1;
  color: $color1;
  text-align: center;
  padding: 2rem ;
}

.header {
  grid-area: header;
  background-color: salmon;
}
.filter-bar {
  grid-area: filter-bar;
}
.navbar {
  grid-area: navbar;
}
.main {
  grid-area: main;
  min-width: 100%;
  min-height: 100%;
  //max-width: 100%;
  //position: absolute;
}
.sidebar {
  //position: fixed;
  grid-area: sidebar;
  background: $color3;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //padding: 3rem 0;
  a{
    //padding: 1rem 0;
  }
}
.footer {
  grid-area: footer;
  margin: 0;
  transition: transform 0.5s ease;
}

.page-hours {
  min-height: 100%;
  //width: 100%;
  display: flex;
  background: lightblue;
  //display : flex;
  //justify-content: stretch;
}
